<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><%= link_to dashboard_index_path do %> <i class="fa fa-table"></i> Detail <% end %>
      </li>

      <li><%= link_to report_dashboard_index_path do %> <i class="fa fa-line-chart"></i> Reports <% end %>
      </li>

      <li><a><i class="fa fa-home"></i> Historical Reports </a>
      </li>

      <li><a><i class="fa fa-home"></i> Recent Activity </a>
      </li>

      <li><a><i class="fa fa-home"></i> Service </a>
      </li>

      <li><a><i class="fa fa-home"></i> Support </a>
      </li>

      <li><a><i class="fa fa-home"></i> Queries </a>
      </li>

    </ul>
  </div>
</div>