        <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle nv-cls" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul class="nav-menus" id="mapunity-nav_fluid">
                                <li>
                                    <a href="/energy">ENERGY</a>
                                </li>
                                <li>
                                    <a href="/water">WATER</a>
                                </li>
                                <li>
                                    <a href="#">MARKET</a>
                                </li>
                                <li>
                            	    <a href="#">WIND</a>
                                </li>
                                <li>
                            	    <a href="#">NATURAL RESOURCES</a>
                                </li>
                                <li>
                                    <a href="#">PROJECTS</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
