<div id="header">
<div class="row mapunity_header">
    <div class="col-md-1">
      <%= image_tag "icon.svg" %>
    </div>
    <div class="logo col-md-2">
        <a href="/" class="logo border-zero">
          <span class="logo_tag" style="font-size: 19px; border-bottom: 1px solid #FBAD14;">C R O P O G R A P H Y</span>
          <br>
          <span class="logo_mapunity">M A P U N I T Y</span>
        </a>
    </div>
    <div class="col-md-9 products_bar">
      <%= render 'home/mapunity_navigation' %>
    </div>
</div>
</div>
